<!--User is on a non existent page. This redirects the user to /login-->
<div class="container">
  <h1>Whoooops!</h1>
  <h3>This page cannot be found.</h3>
  <a [routerLink]="['/login']">Take me to safe grounds 😅🤭 </a>
</div>
