<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f56053">
  <span class="navbar-brand mb-0 h1" style="color: white">Pokèmon Trainer</span>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/catalogue" style="color:yellow;">Catalogue</a>
    <a class="nav-item nav-link" href="/trainer" style="color:yellow;">Trainer</a>
  </div>
</nav>
