.pokemon-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
}

@media screen and (max-width: 550px) {
    .pokemon-list {
        grid-template-columns: repeat(3, 1fr);
    }    
}

.pokemon-item{
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 1em;
}

.small__image {
    height: 4%;
    width: 4%;
}

.pokemon__name {
    font-weight: 700;
}

.button__small {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 60%;

}