<app-navbar></app-navbar>

<div class="container mt-5">
  <!-- If the user selects a pokemon -> show the selected pokemon and be able to collect it-->
  <div *ngIf="pokemon !== null">
    <div class="d-flex justify-content-start">
      <img
        class="small__image"
        src="https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-transparent-png-2.png"
      />&nbsp;
      <p>Collect new Pokèmon:</p>
      <p>&nbsp;</p>
      <p class="pokemon__name">{{ pokemon.id }}</p>
      &nbsp;
      <form (ngSubmit)="updatePokemon(pokemon.id, pokemon.url)">
        <button type="submit" class="btn btn-success button__small">
          Collect
        </button>
      </form>
    </div>
  </div>

  <!--Displaying a list of pokemons from the API-->
  <h4>Catalogue of Pokèmons</h4>
  <div class="pokemon-list mt-3">
    <div
      class="pokemon-item"
      *ngFor="let pokemon of pokemons"
      (click)="onPokemonClicked(pokemon)"
    >
      <p>{{ pokemon.id }}</p>
      <img src="{{ pokemon.url }}" />
    </div>
  </div>
</div>
